form {
  margin: 40px;
  background-color: #3b4249;
  color: white;
  box-shadow: 3px 1px 29px -9px rgba(0, 0, 0, 0.75) inset;
  border-radius: 8px;
}

form label {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.container {
  width: 70%;
}

.accordion-body {
  background-color: #212529;
}

form input,
form select {
  margin: 25px;
  width: 200px;
}

form button {
  height: 45px;
}
