* {
  color: white;
  font-weight: 600;
  text-align: center;
}

table {
  width: 100%;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
  width: 100px;
}

th {
  border: 0.5px solid rgba(0, 0, 0, 0.288);
  background: #0d1831;
}

td {
  width: 14.2%;
  border: 0.5px solid rgba(0, 0, 0, 0.288);
  background: #0f172a;
}

.modal__title,
.modal__synopsis_syn {
  color: black;
}

.td__schedule {
  display: flex;
  flex-direction: row;
}

.mat-header-cell {
  text-align: center;
}
