<cdk-accordion class="example-accordion">
  <ng-container *ngFor="let outerItem of tableColumns; let index = index">
    <!-- Outer Item Content Here -->
    <tr>
      <th>{{ outerItem }}</th>
    </tr>
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <ng-container *ngFor="let innerItem of schedules; let index = index">
          <tr>
            <td *ngIf="innerItem.day === outerItem">
              <div class="card">
                <p>{{ innerItem.title }}</p>
                <p>{{ innerItem.broadcastTime }}</p>
                <img [src]="innerItem.image" alt="" />
                <button (click)="removeSchedule(innerItem.id, innerItem.title)">
                  Remove
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </div>
    </cdk-accordion-item>
  </ng-container>
</cdk-accordion>
