<cdk-accordion class="example-accordion">
  <ng-container *ngFor="let outerItem of tableColumns; let index = index">
    <!-- Outer Item Content Here -->
    <div class="broadcastDay">
      <p>{{ outerItem }}</p>
    </div>
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <ng-container *ngFor="let innerItem of schedules; let index = index">
          <div *ngIf="innerItem.day === outerItem">
            <app-anime-schedule-card
              class="mt-3"
              [schedule]="innerItem"
            ></app-anime-schedule-card>
            <button
              class="btn"
              (click)="removeSchedule(innerItem.id, innerItem.title)"
            >
              Remove
            </button>
          </div>
        </ng-container>
      </div>
    </cdk-accordion-item>
  </ng-container>
</cdk-accordion>
