<app-anime-schedule></app-anime-schedule>

<div class="container mt-5">
  <div class="container">
    <div class="col d-flex justify-content-center"><h1>Fall 2022</h1></div>
  </div>
  <input
    class="mt-5"
    #searchInput
    type="text"
    style="padding: 8px; margin: 15px auto; width: 50%"
    placeholder="Type to filter the name column..."
  />
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->

    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell"><img [src]="i.images.jpg.image_url" alt="" /></div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">{{ i.title }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">{{ i.status }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="broadcast">
      <th mat-header-cell *matHeaderCellDef>Broadcast</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">{{ i.broadcast.string }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="airing">
      <th mat-header-cell *matHeaderCellDef>Airing</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">{{ i.aired.string }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="malLink">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell"><a [href]="i.url">MAL</a></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>Add to Schedule</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">
          <div #add class="d-grid gap-2">
            <button
              (click)="openDialog(i)"
              type="button"
              class="btn btn-dark btn_datatable"
            >
              Detail
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #template let-row="row"
  ><img class="img_datatable" [src]="row.images.jpg.image_url" alt=""
/></ng-template>

>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
