<div class="container-sm mt-5">
  <div class="row">
    <div class="col-sm-6 mt-3 d-flex justify-content-center">
      <img
        class="img-fluid anime-img"
        src="../../assets/images/animelogin.png"
        alt=""
      />
    </div>
    <div class="col-sm-6 mt-3 d-flex justify-content-center">
      <div class="row">
        <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input type="name" formControlName="name" matInput />
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>E-Mail</mat-label>
              <input type="email" matInput formControlName="email" />
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput />
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-round b-level-1 b-type-2">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
