<div class="container-sm mt-3">
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <label>Name</label>
    <input type="name" formControlName="name" />
    <div
      class="error"
      *ngIf="formUser.get('name')?.touched && formUser.get('name')?.invalid"
    >
      Name is required.
    </div>
    <label>E-Mail</label>
    <input type="email" formControlName="email" />
    <div
      class="error"
      *ngIf="formUser.get('email')?.touched && formUser.get('email')?.invalid"
    >
      E-mail is required.
    </div>
    <label>Password</label>
    <input type="password" formControlName="password" />
    <div
      class="error"
      *ngIf="
        formUser.get('password')?.touched && formUser.get('password')?.invalid
      "
    >
      Password is required.
    </div>
    <button class="btn" type="submit" class="btn">Register</button>
  </form>
  <div class="error mb-3" *ngIf="error">{{ error }}</div>
</div>
