<div mat-dialog-content class="container modal__style">
  <div class="col">
    <p class="p_title">{{ data.title }}</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img_modal" [src]="data.image" alt="" />
    </div>
    <div class="col-md-6">
      <div class="container_synopsis" [class.show]="show">
        {{ data.synopsis }}
      </div>
    </div>
  </div>
  <div class="col">
    <p>Next episode in: {{ demo }}</p>
  </div>
  <button
    class="btn btn-round b-level-1 b-type-2"
    (click)="passToSchedule(data.storage)"
  >
    Add to Schedule
  </button>
</div>
