* {
  color: white;
  margin:0;
  padding:0;
  
}
.p_title {
  font-weight: 600;
  text-align: center;
}

.modal__style {
  background-color: #0f172a;
  max-height: 100%;
}

.btn {
  padding: 15px 40px;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin: 8px 16px;
  transition: 0.3s ease;
  border-radius: 8px;
}

.b-level-1.b-type-2 {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.b-level-1.b-type-2:hover {
  color: #111;
  background: #f1f1f1;
}

img {
  width: 75%;
}

span {
  width:300px;
}
