/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-family: "Lato", sans-serif;
}

body {
  background: #14171a;

  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.datatable-body-cell {
  padding: 0.5rem !important;
}
